.searchBar{
    margin-top: 1vh;
}

.searchBar-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40vw;
    padding: 2%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 30vw;
    margin-right: 30vw;
    font-size: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.searchBar-cont button{
    border-radius: 5px;
}