.profile{
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
}

.profile-header{
    width: 70vw;
    border: 2px solid black;
    padding: 2%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: white;
}

.profile-header h1{
    text-align: center;
}

.profile-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
