.friend-card{
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-top: 1vh;
    margin-left: 30vw;
    margin-right: 30vw;
}
.friend-header{
    background-color: white;
    width: 40vw;
    padding: 2%;
    margin-bottom: 10%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.friend-card-body{
    background-color: white;
    display: flex;
    flex-direction: column;
    min-width: 40vw;
    min-height: 13vh;
    padding: 2%;
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.friend-card-body h3 {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
