.card-post{
    min-width: 20vw;
    min-height: 30%;
    margin-left: 40vw;
    margin-right: 40vw;
    margin-top: 20vh;
    background-color: white;
    border-radius: 10px;
}
.center form{
    max-height: 90%;
}
.card-body textarea{
    height: 10vh;
    width: 16vw;
    margin: 1%;
}
.card-body button {
    border-radius: 10px;
}