.card-post{
    width: 20vw;
    height: 20vh;
    margin-left: 40vw;
    margin-right: 40vw;
    margin-top: 20vh;
    background-color: white;
    border-radius: 10px;
}
.card-body textarea{
    height: 10vh;
    width: 16vw;
    margin: 1%;
}
.card-body button {
    border-radius: 10px;
}